header h1{
	display: flex;
	justify-content: center;
	text-decoration: underline #aff;
	background: skyblue;
	margin: 0px;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	
}
.input{
	display: flex;
	justify-content: center;
	margin: 1rem;
}
.botao{
	width: 15rem;
	margin-left: 18rem;
	border-width: 0.2rem;
	border-color: indianred;
	border-radius: 1rem;
}
.form{
	border-bottom-right-radius: 1rem;
	border-bottom-left-radius: 1rem;
	background: skyblue;

}
body{
	margin: 0px;
}
